
.choose {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  flex-wrap: wrap;
}
.choose-us {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  transition: 0.3s ease;
}
.img-tag {
  background: #f5f5f5;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: 5px;
}
.img-tag i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-left: 0;
  font-size: 30px;
}
.img-one {
  transition: 0.3s ease;
}
.img-two {
  top: 120% !important;
  color: #fff;
  transition: 0.3s ease;
}
.choose-us:hover .img-tag {
  background: #f77909;
}
.choose-us:hover .img-one {
  top: -20%;
}
.choose-us:hover .img-two {
  top: 50% !important;
}
.service-heading {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #000;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}
.choose-us:hover .text-tag .service-heading {
  color: #f77909;
}
.text-tag .service-heading {
  color: #000;
}

